<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Quiz Score</title>
    <style>
        body{
            font-family: Arial,  sans-serif;
         }
    </style>
</head>
<body>
    <div class="container">
        <h1>Your Quiz Score</h1>
        <p>You scored <%= score %> out of <%= questions.length %> questions correctly.</p>
        <p><a href="/leaderboard">View Leaderboard</a></p>
    </div>
</body>
</html>
